# 06 Vectors

The c() function can be used to create a vector that is a concatenation of elements.

A vector is a sequence of members elements of the same type. Members are also known as components.

An empty vector can be created with the vector function.

The vector() function can also initialize a vector.

- Basic Vector Syntax
- Concatenating Vectors
- NA vs NaN
- Implicit Type Conversion
- Explicit Type Conversion
- The seq Function
- The storage.mode() Function
- Removing NA Values
- Vectorized Operations
- Names: Self-Describing Metadata

# Basic Vector Syntax

In [1]:
v <- c(42, 2, 3.141592, -6, 4)    # numeric vector
print(v)
print(class(v))

[1] 42.000000  2.000000  3.141592 -6.000000  4.000000
[1] "numeric"

In [2]:
v <- 10:20                        # integer vector
print(v)
print(class(v))

 [1] 10 11 12 13 14 15 16 17 18 19 20
[1] "integer"

In [3]:
v <- c(1+0i, 4+3i)                # complex vector
print(v)
print(class(v))

[1] 1+0i 4+3i
[1] "complex"

In [4]:
v <- c("hello", "world")          # character vector
print(v)
print(class(v))

[1] "hello" "world"
[1] "character"

In [3]:
v <- c(TRUE, TRUE, FALSE, FALSE)  # logical vector
#v  <- c(T, T, F)
print(v)
print(class(v))

[1]  TRUE  TRUE FALSE FALSE
[1] "logical"

In [26]:
print("*** empty logical vector ***")
v <- vector()                     # empty logical vector
print(v)
print(class(v))
print(length(v))

print("*** set length if vector ***")
length(v) <- 10                   # set length if vector
print(v)
print(class(v))
print(length(v))

print("*** set storage mode mode of vector ***")
storage.mode(v) <- "double"       # set storage mode mode of vector
print(v)
print(class(v))
print(length(v))

[1] "*** empty logical vector ***"
logical(0)
[1] "logical"
[1] 0
[1] "*** set length if vector ***"
 [1] NA NA NA NA NA NA NA NA NA NA
[1] "logical"
[1] 10
[1] "*** set storage mode mode of vector ***"
 [1] NA NA NA NA NA NA NA NA NA NA
[1] "numeric"
[1] 10

# Concatenating Vectors

In [10]:
# c() function can add elements to vector
x <- c(1, 2, 3)
y <- 42
z <- c(x, y, "hello") # note coercion to single character type
z

[1] "1"     "2"     "3"     "42"    "hello"

# NA vs NaN

NA represents missing data (NA means Not Available)
NaN represents undefined numerical data (NaN means Not a Number)

In [7]:
is.na(NA)      # TRUE by definition
is.na(NaN)     # TRUE because all NaN are NA (NaN is proper subset of NA))
is.nan(NaN)    # TRUE by definition
is.nan(NA)     # FALSE because not all NA are NaN (NaN is proper subset of NA))
v <- vector()
v[1:5] <- NaN
v              # NaN NaN NaN NaN NaN
is.na(v)       # TRUE TRUE TRUE TRUE TRUE
is.nan(v)      # TRUE TRUE TRUE TRUE TRUE
v[1:5] <- NA
v              # <NA> <NA> <NA> <NA> <NA>
is.na(v)       # TRUE TRUE TRUE TRUE TRUE
is.nan(v)      # FALSE FALSE FALSE FALSE FALSE

[1] TRUE

[1] TRUE

[1] TRUE

[1] FALSE

[1] NaN NaN NaN NaN NaN

[1] TRUE TRUE TRUE TRUE TRUE

[1] TRUE TRUE TRUE TRUE TRUE

[1] NA NA NA NA NA

[1] TRUE TRUE TRUE TRUE TRUE

[1] FALSE FALSE FALSE FALSE FALSE

# Implicit Type Conversion

In [27]:
v <- c(12.3, "a")              # character vector (implicit coercion)
print(v)
print(class(v))

[1] "12.3" "a"
[1] "character"

In [29]:
v <- c(TRUE, FALSE, 0, 1, 2)   # numeric vector (implicit coercion)
print(v)
print(class(v))

[1] 1 0 0 1 2
[1] "numeric"

In [11]:
v <- c("a", TRUE)              # character vector (implicit coercion)
print(v)
print(class(v))

[1] "a"    "TRUE"
[1] "character"

# Explicit Type Conversion

In [12]:
v <- 0:10                      # integer vector (explicit conversion)
class(v)
as.numeric(v)
as.logical(v)
as.character(v)
as.complex(v)

[1] "integer"

 [1]  0  1  2  3  4  5  6  7  8  9 10

 [1] FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

 [1] "0"  "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10"

 [1]  0+0i  1+0i  2+0i  3+0i  4+0i  5+0i  6+0i  7+0i  8+0i  9+0i 10+0i

In [13]:
# explicit type conversion
v <- c("a", "b", "c")          # character vector (explicit conversion)
as.numeric(v)
as.logical(v)
as.complex(v)
print(class(v))

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

[1] NA NA NA

[1] NA NA NA

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

[1] NA NA NA

[1] "character"

# The seq Function

In [39]:
x <- seq(1, 10, length.out = 6)
x

[1]  1.0  2.8  4.6  6.4  8.2 10.0

In [45]:
# the seq function
seq(0, 1, length.out = 11)
seq(1, 15, by = 2)
seq(1, 14, by = pi)
seq(1, 13, by = 3)
seq(1.675, 6.225, by = 0.05)
seq(18) # same as 1:18

 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

[1]  1  3  5  7  9 11 13 15

[1]  1.000000  4.141593  7.283185 10.424778 13.566371

[1]  1  4  7 10 13

 [1] 1.675 1.725 1.775 1.825 1.875 1.925 1.975 2.025 2.075 2.125 2.175 2.225
[13] 2.275 2.325 2.375 2.425 2.475 2.525 2.575 2.625 2.675 2.725 2.775 2.825
[25] 2.875 2.925 2.975 3.025 3.075 3.125 3.175 3.225 3.275 3.325 3.375 3.425
[37] 3.475 3.525 3.575 3.625 3.675 3.725 3.775 3.825 3.875 3.925 3.975 4.025
[49] 4.075 4.125 4.175 4.225 4.275 4.325 4.375 4.425 4.475 4.525 4.575 4.625
[61] 4.675 4.725 4.775 4.825 4.875 4.925 4.975 5.025 5.075 5.125 5.175 5.225
[73] 5.275 5.325 5.375 5.425 5.475 5.525 5.575 5.625 5.675 5.725 5.775 5.825
[85] 5.875 5.925 5.975 6.025 6.075 6.125 6.175 6.225

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18

# The storage.mode() Function

In [38]:
# the storage.mode() function
v <- vector("numeric", length=10)
v
storage.mode(v) <- "character"   # set storage mode mode of vector
v
storage.mode(v) <- "complex"     # set storage mode mode of vector
v

 [1] 0 0 0 0 0 0 0 0 0 0

 [1] "0" "0" "0" "0" "0" "0" "0" "0" "0" "0"

 [1] 0+0i 0+0i 0+0i 0+0i 0+0i 0+0i 0+0i 0+0i 0+0i 0+0i

# Removing NA Values

In [41]:
# Removing NA Values from a Vector
x <- c(1, 2, NA, 4, NA, 6, 7, 8)
missing <- is.na(x)
x <- x[!missing]
x

[1] 1 2 4 6 7 8

# Vectorized Operations

In [42]:
# vectorized operations
x <- 1:4; y <- 5:8
x
y
x + y         # element-wise vector addition
z <- sum(x*y) # vector dot product
z
x <- matrix(1:4, 2, 2); y <- matrix(rep(10, 4), 2, 2)
x
y
x * y         # element-wise matrix multiplication
x / y         # element-wise matrix division
x %*% y       # matrix multiplication

[1] 1 2 3 4

[1] 5 6 7 8

[1]  6  8 10 12

[1] 70

     [,1] [,2]
[1,] 1    3
[2,] 2    4

     [,1] [,2]
[1,] 10   10
[2,] 10   10

     [,1] [,2]
[1,] 10   30
[2,] 20   40

     [,1] [,2]
[1,] 0.1  0.3
[2,] 0.2  0.4

     [,1] [,2]
[1,] 40   40
[2,] 60   60

# Names: Self-Describing Metadata

In [44]:
#R objects can have names that provide self-describing metadata
x <- 1:5
x
names(x)
names(x) <- c("London", "Toronto", "Paris", "Boston", "Tokyo")
x
names(x)

[1] 1 2 3 4 5

NULL

 London Toronto   Paris  Boston   Tokyo
      1       2       3       4       5

[1] "London"  "Toronto" "Paris"   "Boston"  "Tokyo"