# 08 Lists

An ordinary vector must contain only objects of the same class. However, a list is a special type of vector that can contain objects of different classes.
Data frames are just a special type of list where every element (column) must have the same length (number of rows).

- Lists are Heterogeneous
- The list() Function
- The as.list Function
- The vector() Function
- List Containing Different Classes
- Subsetting Lists
- Named list Elements

## Lists are Heterogeneous

In [2]:
# A list is like a vector but can contain different classes of objects.
x <- list(1, "a", TRUE, 1 + 4i)

[[1]]
[1] 1

[[2]]
[1] "a"

[[3]]
[1] TRUE

[[4]]
[1] 1+4i

[[1]]
NULL

[[2]]
NULL

[[3]]
NULL

[[4]]
NULL

[[5]]
NULL

## The list() Function

In [11]:
# lists can be explicitly created using the list() function
empty.list <- list()                          # empty list
print(empty.list)
length(empty.list)
class(empty.list)
populated.list <- list(1, "a", TRUE, 3 + 4i)  # populated list
print(populated.list)
length(populated.list)
class(populated.list)

list()

[1] 0

[1] "list"

[[1]]
[1] 1

[[2]]
[1] "a"

[[3]]
[1] TRUE

[[4]]
[1] 3+4i

[1] 4

[1] "list"

## The as.list Function

In [6]:
# the as.list function can convert a vector to a list 
v <- c(1, 2, 3)
v               # 1 2 3
v[2] <- "two"   # all elements are coerced to character
v               # '1' 'two' '3'
l <- as.list(c(1, 2, 3))
l
l[2] <- "two"   # no type coercion
l

[1] 1 2 3

[1] "1"   "two" "3"

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[1]]
[1] 1

[[2]]
[1] "two"

[[3]]
[1] 3

## The vector() Function

In [12]:
# the vector function produces an empty vector of given mode and length
# Here we get a list with specified length containing nulls
vector("list", length = 5)

[[1]]
NULL

[[2]]
NULL

[[3]]
NULL

[[4]]
NULL

[[5]]
NULL

## List Containing Different Classes

In [3]:
# A List can be explicitly created using the list() function with an arbitrary number of arguments
x <- list(1, "a", TRUE, 1 + 4i)
x

[[1]]
[1] 1

[[2]]
[1] "a"

[[3]]
[1] TRUE

[[4]]
[1] 1+4i

In [10]:
l <- list(1, "a", TRUE, 1 + 0i, c(1, 4, 9, 16), sin, cos)
print(l)
l <- vector("list", length = 5)
l
l <- vector("list", 3)
class(l)
l[[2]] <- 1:5
l

[[1]]
[1] 1

[[2]]
[1] "a"

[[3]]
[1] TRUE

[[4]]
[1] 1+0i

[[5]]
[1]  1  4  9 16

[[6]]
function (x)  .Primitive("sin")

[[7]]
function (x)  .Primitive("cos")

[[1]]
NULL

[[2]]
NULL

[[3]]
NULL

[[4]]
NULL

[[5]]
NULL

[1] "list"

[[1]]
NULL

[[2]]
[1] 1 2 3 4 5

[[3]]
NULL

## Subsetting Lists

- The [ operator returns an object of the same class as the container and can select multiple elements.
- The [[ operator extracts elements in the container and can only extract a single element.
- The $ operator extracts elements of the container by name and is similar to the [[ operator.

In [31]:
# Lists can contain named values
x <- list("Boston" = 1, Madrid = 2, Frankfurt = 3, Rome = 4) 
x
x[4]
x["Rome"]
x[["Rome"]]
name <- "Rome"
x[name]
x[[name]]
x[[4]]
x$Rome
x[2:3]
x[c(1, 3, 4)]
x$F            # partial match with Frankfurt

$Boston
[1] 1

$Madrid
[1] 2

$Frankfurt
[1] 3

$Rome
[1] 4

$Rome
[1] 4

$Rome
[1] 4

[1] 4

$Rome
[1] 4

[1] 4

[1] 4

[1] 4

$Madrid
[1] 2

$Frankfurt
[1] 3

$Boston
[1] 1

$Frankfurt
[1] 3

$Rome
[1] 4

[1] 3

## Named list Elements

In [7]:
x <- list(student = "Sally", grade = 98)
x

$student
[1] "Sally"

$grade
[1] 98