# 11 Attributes  
R objects can have attributes that are metadata for the object.

In [40]:
# Attributes of an object (if any) can be accessed using the attributes() function. Not all
# R objects contain attributes, in which case the attributes() function returns NULL.


x <- 42
attributes(x) # NULL

attr(x, "foo") <- "a"
attr(x, "bar") <- "b"
attributes(x) # object now has attributes $foo and $bar

v <- c(1,2,3)
attributes(v) # NULL

m <- matrix(c(1, 2, 3, 4, 5, 6), nrow=2, ncol=3)
attributes(m)  # $dim

m <- matrix(nrow = 2, ncol = 3)
m
dim(m)
attributes(m)

dim(m) <- c(3, 2)
m
dim(m)
attributes(m)

m <- 1:10
attr(m,"dim") <- c(2, 5)
m

m$nrow=6
m$ncol=1
m
dim(m)
attributes(m)

attributes(m) <- list(nrow=1, ncol=6)
m
dim(m)
attributes(m)

x <- 42
attributes(x)
x.foo = 'bar'
attributes(x)
x.foo

NULL

$foo
[1] "a"

$bar
[1] "b"

NULL

$dim
[1] 2 3

     [,1] [,2] [,3]
[1,] NA   NA   NA
[2,] NA   NA   NA

[1] 2 3

$dim
[1] 2 3

     [,1] [,2]
[1,] NA   NA
[2,] NA   NA
[3,] NA   NA

[1] 3 2

$dim
[1] 3 2

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

Warning message in m$nrow = 6:
"Coercing LHS to a list"

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

[[6]]
[1] 6

[[7]]
[1] 7

[[8]]
[1] 8

[[9]]
[1] 9

[[10]]
[1] 10

$nrow
[1] 6

$ncol
[1] 1

NULL

$names
 [1] ""     ""     ""     ""     ""     ""     ""     ""     ""     ""
[11] "nrow" "ncol"

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

[[6]]
[1] 6

[[7]]
[1] 7

[[8]]
[1] 8

[[9]]
[1] 9

[[10]]
[1] 10

[[11]]
[1] 6

[[12]]
[1] 1

attr(,"nrow")
[1] 1
attr(,"ncol")
[1] 6

NULL

$nrow
[1] 1

$ncol
[1] 6

NULL

NULL

[1] "bar"