# 12 Data Frames

Data frames are used to work with tabular data.

Hadley Wickhamâ€™s package dplyr package is optimized to work efficiently with data frames.

In [24]:
# create data frame
bmi.df <- data.frame(
   gender = c("Male", "Male","Female"), 
   height = c(152, 171.5, 165),            # cm
   mass =   c(81, 93, 78),                 # kg
   age =    c(42, 38,26)                   # years
)
bmi.df
class(bmi.df)
str(bmi.df)
row.names(bmi.df)
names(bmi.df)
attributes(bmi.df)

bmi.df <- rbind(bmi.df, list("Female", 169, 77, 33))
bmi.df

bmi.df <- cbind(bmi.df, list(bmi=bmi.df$mass/(bmi.df$mass/100)^2)) # BMI = mass_kg/height_m^2
bmi.df

  gender height mass age
1 Male   152.0  81   42
2 Male   171.5  93   38
3 Female 165.0  78   26

[1] "data.frame"

'data.frame':	3 obs. of  4 variables:
 $ gender: Factor w/ 2 levels "Female","Male": 2 2 1
 $ height: num  152 172 165
 $ mass  : num  81 93 78
 $ age   : num  42 38 26

[1] "1" "2" "3"

[1] "gender" "height" "mass"   "age"

$names
[1] "gender" "height" "mass"   "age"

$row.names
[1] 1 2 3

$class
[1] "data.frame"

  gender height mass age
1 Male   152.0  81   42
2 Male   171.5  93   38
3 Female 165.0  78   26
4 Female 169.0  77   33

  gender height mass age bmi
1 Male   152.0  81   42  123.4568
2 Male   171.5  93   38  107.5269
3 Female 165.0  78   26  128.2051
4 Female 169.0  77   33  129.8701

In [5]:
getwd()
df = read.csv("./data/grades.csv")
str(df)

[1] "C:/Users/peterthor/Documents/R_Jupyter"

'data.frame':	2 obs. of  5 variables:
 $ ID     : int  3 1
 $ GRADES : Factor w/ 2 levels "A","C": 2 1
 $ GPA    : int  2 4
 $ Teacher: Factor w/ 2 levels "Teacher1","Teacher3": 2 1
 $ State  : Factor w/ 2 levels "California","MA": 2 1