# 13 Date and Time

See: [UC Business Analytics R Programming Guide: Dealing with Dates](http://uc-r.github.io/dates)

In [5]:
# Getting current date & time
Sys.timezone()
Sys.Date()
Sys.time()
# the lubridate package
library(lubridate)
now()

[1] "America/New_York"

[1] "2017-12-31"

[1] "2017-12-31 11:06:02 EST"

[1] "2017-12-31 11:06:02 EST"

In [6]:
# Convert Strings to Dates
x <- c("2015-07-01", "2015-08-01", "2015-09-01")
as.Date(x)
y <- c("07/01/2015", "07/01/2015", "07/01/2015")
as.Date(y, format = "%m/%d/%Y")
library(lubridate)
ymd(x)
mdy(y)

[1] "2015-07-01" "2015-08-01" "2015-09-01"

[1] "2015-07-01" "2015-07-01" "2015-07-01"

[1] "2015-07-01" "2015-08-01" "2015-09-01"

[1] "2015-07-01" "2015-07-01" "2015-07-01"

In [7]:
# Dates by Merging Data
yr <- c("2012", "2013", "2014", "2015")
mo <- c("1", "5", "7", "2")
day <- c("02", "22", "15", "28")
# ISOdate converts to a POSIXct object
ISOdate(year = yr, month = mo, day = day)
# truncate the unused time data by converting with as.Date
as.Date(ISOdate(year = yr, month = mo, day = day))

[1] "2012-01-02 12:00:00 GMT" "2013-05-22 12:00:00 GMT"
[3] "2014-07-15 12:00:00 GMT" "2015-02-28 12:00:00 GMT"

[1] "2012-01-02" "2013-05-22" "2014-07-15" "2015-02-28"

In [9]:
# extract & manipulate parts of dates
library(lubridate)
x <- c("2015-07-01", "2015-08-01", "2015-09-01")
year(x)
month(x)
month(x, label = TRUE)
month(x, label = TRUE, abbr = FALSE)
wday(x, label = TRUE, abbr = FALSE)
# convert to date format
x <- ymd(x)
x
mday(x)
mday(x) <- c(3, 10, 22)
x
# can also use 'update()' function
update(x, year = c(2013, 2014, 2015), month = 9)
# can also add/subtract units
x + years(1) - days(c(2, 9, 21))

[1] 2015 2015 2015

[1] 7 8 9

[1] Jul Aug Sep
12 Levels: Jan < Feb < Mar < Apr < May < Jun < Jul < Aug < Sep < ... < Dec

[1] July      August    September
12 Levels: January < February < March < April < May < June < ... < December

[1] Wednesday Saturday  Tuesday
7 Levels: Sunday < Monday < Tuesday < Wednesday < Thursday < ... < Saturday

[1] "2015-07-01" "2015-08-01" "2015-09-01"

[1] 1 1 1

[1] "2015-07-03" "2015-08-10" "2015-09-22"

[1] "2013-09-03" "2014-09-10" "2015-09-22"

[1] "2016-07-01" "2016-08-01" "2016-09-01"

In [11]:
# create date sequences
seq(as.Date("2010-1-1"), as.Date("2015-1-1"), by = "years")
seq(as.Date("2015/1/1"), as.Date("2015/12/30"), by = "quarter")
seq(as.Date('2015-09-15'), as.Date('2015-09-30'), by = "2 days")

# create date sequences with lubridate
library(lubridate)
seq(ymd("2010-1-1"), ymd("2015-1-1"), by = "years")
seq(ymd("2015/1/1"), ymd("2015/12/30"), by = "quarter")
seq(ymd('2015-09-15'), ymd('2015-09-30'), by = "2 days")

[1] "2010-01-01" "2011-01-01" "2012-01-01" "2013-01-01" "2014-01-01"
[6] "2015-01-01"

[1] "2015-01-01" "2015-04-01" "2015-07-01" "2015-10-01"

[1] "2015-09-15" "2015-09-17" "2015-09-19" "2015-09-21" "2015-09-23"
[6] "2015-09-25" "2015-09-27" "2015-09-29"

[1] "2010-01-01" "2011-01-01" "2012-01-01" "2013-01-01" "2014-01-01"
[6] "2015-01-01"

[1] "2015-01-01" "2015-04-01" "2015-07-01" "2015-10-01"

[1] "2015-09-15" "2015-09-17" "2015-09-19" "2015-09-21" "2015-09-23"
[6] "2015-09-25" "2015-09-27" "2015-09-29"

In [ ]:
# calculations with dates
x <- Sys.Date()
x
y <- as.Date("2015-09-11")
x > y
x - y